* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  min-height: 100vh;
  color: #494343;
  font-size: 16px;
  line-height: 1.8rem;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

ul,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #176b4f;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #184b1f;
}

section h2 {
  border-bottom: 1px solid #d4cfcf;
  margin-bottom: 20px;
}

.top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2.8rem;
}

.header,
.footer {
  height: 90px;
  padding: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#82b9ac), to(#37806d));
  background: linear-gradient(#82b9ac, #37806d);
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.header {
  margin-bottom: 15px;
}

.header nav {
  height: 100%;
}

.header nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header nav ul li {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header nav ul li a {
  color: #3c4042;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header nav ul li a :hover {
  color: #184b1f;
}

.logo {
  background: no-repeat url("https://app.rs.school/static/images/logo-rsschool3.png");
  background-size: contain;
  width: 100%;
  height: 100%;
}

.copyright {
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: right;
      justify-self: right;
}

.copyright a {
  color: #3c4042;
}

.content {
  padding: 1rem;
}

.main-content {
  min-height: calc(100vh - 180px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: '. main-header .' 'sidebar summary summary' 'sidebar experience experience' 'code code code' 'education-wrapper education-wrapper education-wrapper';
  background: #f7f7f7;
}

.main-header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main-header;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  padding: 1rem;
}

.contacts {
  margin-bottom: 1.5rem;
}

.contacts h2 {
  margin-bottom: 20px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #d4cfcf;
  border-radius: 3px;
  background-color: #e9e5e5;
  -webkit-box-shadow: 3px 3px 6px #dbdada;
          box-shadow: 3px 3px 6px #dbdada;
}

.contact i {
  font-size: 1.5rem;
}

.codewars {
  width: 21px;
  height: 24px;
  background-image: url("../assets/codewars-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: invert(28%) sepia(2%) saturate(1429%) hue-rotate(314deg) brightness(84%) contrast(87%);
          filter: invert(28%) sepia(2%) saturate(1429%) hue-rotate(314deg) brightness(84%) contrast(87%);
}

.photo {
  width: 100%;
  margin-bottom: 20px;
}

.bar-container {
  margin: 20px;
  width: 400px;
  height: 8px;
  position: relative;
}

.tech-name {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tech-name .tech-stack {
  font-weight: 400;
}

.summary {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: summary;
  font-size: 1.1rem;
  padding-right: 45px;
}

.summary p {
  margin-bottom: 15px;
}

.summary p span {
  font-weight: 600;
}

.experience {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: experience;
  font-size: 1.1rem;
}

.job-description {
  margin-bottom: 20px;
}

.project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr 1fr;
      grid-template-columns: 1.5fr 1fr 1fr;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d4cfcf;
  border-radius: 3px;
  padding: 15px;
  -webkit-box-shadow: 0px 10px 6px #dbdada;
          box-shadow: 0px 10px 6px #dbdada;
}

.demo {
  -ms-grid-column-align: center;
      justify-self: center;
}

.education-wrapper {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: education-wrapper;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 100px, (1fr)[5];
      grid-template-rows: 100px, repeat(5, 1fr);
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  gap: 10px;
}

.courses {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding: 0 20px;
}

.education-header {
  -ms-grid-column-align: center;
      justify-self: center;
}

.education {
  border-right: 1px solid #d4cfcf;
  padding: 0 10px;
  margin: 0;
}

.education p {
  margin-bottom: 10px;
}

.education-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.education-item .stage-0-certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.certificates a {
  width: 40%;
}

.certificates img {
  width: 100%;
}

.english {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
  padding: 0 20px;
}

.english p {
  margin-bottom: 10px;
}

.lvl-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lvl-wrapper img {
  width: 100%;
}

.lvl {
  padding-top: 0.4rem;
  font-size: 3rem;
}

.img-rs {
  width: 50%;
}

@media (min-width: 950px) and (max-width: 1140px) {
  .wrapper {
    width: 100%;
  }
  .main-content {
        grid-template-areas: 'main-header main-header main-header' 'sidebar sidebar sidebar' 'summary summary summary' 'experience experience experience' 'code code code' 'education-wrapper education-wrapper education-wrapper';
  }
  .sidebar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 4%;
  }
  .photo {
    width: 80%;
  }
}

@media (max-width: 949px) {
  .wrapper {
    width: 100%;
  }
  .main-content {
        grid-template-areas: 'main-header main-header main-header' 'sidebar sidebar sidebar' 'summary summary summary' 'experience experience experience' 'code code code' 'education-wrapper education-wrapper education-wrapper';
  }
  .sidebar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 'photo technologies' 'contacts contacts';
  }
  .photo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: photo;
    width: 60%;
  }
  .contacts {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: contacts;
  }
  .technologies {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: technologies;
  }
  .education-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'education' 'english';
    margin-bottom: 15px;
  }
  .certificates a img {
    width: 50%;
  }
  .main-header {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .header nav ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .code-example {
    width: 100%;
  }
  .copyright {
    font-size: 1rem;
  }
}

@media (max-width: 870px) {
  .project {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project a,
  .project p {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  .code-example {
    font-size: 0.7rem;
  }
}
